language: php

php:
    - 5.6
    - 7.0
    - hhvm

before_script:
    - touch database/database.sqlite
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev
    - php artisan key:generate
    - php artisan migrate --database=sqlite --force
script:
    - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success: