@import "variables";
@import "footer";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Allan:700);
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.background {
     background: #bdd732 url('http://st-joris-turnhout.be/assets/img/background.png') no-repeat fixed 75px;
}

.img-front {
    height:400px;
    width:100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.panel-no-borders {
    border-radius:0px;
    border: 0px;
}

.front-end {
    margin-top: 75px;
}

.icon-green {
	color: #bdd732;
}

.font-heading {
    font-family: Allan, helvetica, arial, sans-serif;
    font-size: 22px;
}

.content-margin {
	margin-bottom: -22px;
}

.content-border {
    border-radius:0;
    border: 0;
}

.front-image {
    height:400px; width:100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.color-white {
    background-color: #ffffff;
    padding: 6px;
    border: 1.2px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.color-kapoenen {
    background-color: #ffff00;
}

.color-welpen {
    background-color: #228b22;
}

.color-jonggivers {
    background-color: #f5821f;
}

.color-givers {
    background-color: #256f91;
}

.color-jins {
    background-color: #ed1c23;
}

.color-leiding {
    background-color: #663399;
}