@import "variables";
@import "footer";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Allan:700);
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.background {
     background: #bdd732 url('http://st-joris-turnhout.be/assets/img/background.png') no-repeat fixed 75px;
}

.front-end {
    margin-top: 75px;
}

.icon-green {
	color: #bdd732;
}

.font-heading {
    font-family: Allan, helvetica, arial, sans-serif;
    font-size: 22px;
}

.content-margin {
	margin-bottom: -22px;
}

.content-border {
    border-radius:0;
    border: 0;
}

.front-image {
    height:400px; width:100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}